{% extends 'base.html.twig' %}

{% block title %}Mes produits{% endblock %}

{% block body %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">{{ 'product_list.title' | trans}}</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="{{ path('add_product') }}" class="btn btn-primary btn-lg">{{ 'product_list.add_action' | trans}}</a>
    </header>

    {% include 'incs/product_list.html.twig' with { 'products' : products, 'routeName' : 'product_paginated'} %}
    
{% endblock %}
