{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ 'loan_edit.choose_end_date_message' | trans}}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
{% endblock %}
