{% extends "base.html.twig" %}

{% block body %}
    {# Commentaire #}
    <h1>MoiJV</h1>
    <h2>{{ 'home.message' |trans }}</h2>

    {% include 'incs/product_list.html.twig' with { 'products' : products, 'routeName' : 'home_paginated' } %}

    
{% endblock %}
